<div class="section with-categories wf-section">
      <div class="hide-scroll-wrap">
        <div class="brand_cards_contain">
          <div class="brand_cards_wrapper">
            {%- render "categories" -%}
          </div>
        </div>
        <div class="hide-scroll"></div>
      </div>
      <div class="light-green-absolute-bg">
        <div class="scroll-to-see-categories">
          <h2 class="title shop">{{ 't31118a00' | t }}</h2>
          <div class="scroll-to-see-wrapper">
            <h5 class="scroll-to-see-text">{{ 'tn2faedad' | t }}</h5>
          </div>
          <div class="scroll-to-see-wrapper mobile">
            <h5 class="scroll-to-see-text">{{ 't3d5bc86d' | t }}</h5><img src="{{ 'right-arrow.svg' | asset_url }}" loading="lazy" width="21" alt="" class="small-text-arrrow">
          </div>
        </div>
      </div>
    </div>