<div class="form-block w-form">
              {%- form "customer",  class: "" -%}<input type="hidden" name="contact[tags]" value="newsletter">
                <div class="flex"><input type="text" class="text-field first w-input" maxlength="256" name="contact[first_name_]" data-name="First Name 2" placeholder="First Name*" id="First-Name-2" required=""><input type="text" class="text-field w-input" maxlength="256" name="contact[last_name_]" data-name="Last Name 3" placeholder="Last Name*" id="Last-Name-3" required=""></div><input type="email" class="text-field w-input" maxlength="256" name="contact[email]" data-name="Email 5" placeholder="Email Address*" id="Email-5" required=""><input type="submit" value="I WANT IN" data-wait="Please wait..." class="submit-button w-button">
              {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
              <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                <div>{{ 't5a0ea5a1' | t }}</div>
              </div>
              {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                <div>{%- render "form-errors", form_errors: form_errors -%}</div>
              </div>{%- endunless -%}
            </div>