<div class="newsletter-popup">
      <div class="newsletter">
        <div class="newsletter-title-and-image-wrap">
          <div class="form-wrap">
            <h2 class="align-center">{{ 't28be5fa3' | t }}</h2>
            <p class="align-center">{{ 'tn1a18d700' | t }}</p>
            <div class="w-form">
              {%- form "customer",  class: "" -%}<input type="hidden" name="contact[tags]" value="newsletter"><input type="email" class="text-field w-input" maxlength="256" name="contact[email]" data-name="Email 2" placeholder="Enter your email..." id="email-2" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">{%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
              <div class="success-message w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                <div>{{ 't5a0ea5a1' | t }}</div>
              </div>
              {%- unless form_success -%}<div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                <div>{%- render "form-errors", form_errors: form_errors -%}</div>
              </div>{%- endunless -%}
            </div>
          </div>
        </div>
        <div data-w-id="91a3be21-26e6-d3c2-2574-097ab6f090e9" class="close-wrapper">
          <div class="close-line"></div>
          <div class="close-line line-2"></div>
        </div>
      </div>
    </div>