
        <div class="flex center">
          <h2>{{ 't3f6c308a' | t }}</h2>
        </div>
        <div class="faq-contain">
          {%- for block in section.blocks -%}{%- if block.type == "faq" -%}<div class="faq-wrap" block.shopify_attributes>
            <div data-w-id="cc268f07-9fbc-00c2-0ba5-a08c95d7c1ba" class="faq-question">
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
              <h4 class="faq">{{ block.settings.title }}</h4>
            </div>
            <div class="faq-answer">
              <p>{{ block.settings.answer }}</p>
            </div>
          </div>{%- endif -%}{%- endfor -%}
        </div>
      

<script>var currentSection = document.currentScript.closest('.shopify-section');{% unless request.design_mode %}currentSection.id = "Buddabeauty";{% endunless %}currentSection.setAttribute("class","faqs");</script>
        
{% schema %}
{
  "name": "Buddabeauty FAQs",
  "tag": "div",
  "class": "faqs",
  "settings": [],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Heconsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaading"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
		  "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nisl nisi scelerisque eu ultrices vitae auctor.</p>"
        }
      ]
    }
  ]
}
{% endschema %}